<div class="card bg-dark text-white">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div
            class=""
            *ngIf="nombre.errors.required"
          >
            Nombre es Requerido
          </div>
          <div
            class=""
            *ngIf="nombre.errors.minlength"
          >
            Nombre debe tener al menos 4 caracter
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div
            class=""
            *ngIf="apellido.errors.required"
          >
            Apellido es Requerido
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div
            class=""
            *ngIf="email.errors.required"
          >
            Email es Requerido
          </div>
          <div
            class=""
            *ngIf="email.errors.email"
          >
            Email debe tener un formato valido
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button type="button" (click)="create()" *ngIf="!cliente.id else elseBlock" role="button" class="btn btn-primary">Crear</button>
          <ng-template #elseBlock>
            <button type="button" (click)="update()" role="button" class="btn btn-primary">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>

</div>
